<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" th:object="${libro}">
        <label>Nombre:</label>
        <input type="text" th:field="*{nombre}"/> <br/>
        <label>Autor:</label>
        <input type="text" th:field="*{autor}"/> <br/>
        <label>Categoria:</label>
        <input type="text" th:field="*{category}"/> <br/>
        <input type="submit" value="Agregar" /> <br />
        <div th:text="${mensaje}">...</div>
    </form>
</body>
</html>