<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="get">
        <table>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Nacionalidad</th>
            </tr>
            <tr th:each="autor: ${autores}">
                <td th:text="${autor.id}"/>
                <td th:text="${autor.nombre}"/>
                <td th:text="${autor.nacionalidad}"/>
            </tr>
        </table>

    </form>
</body>
</html>